{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-2 toppad" >
                <h1>Welcome to Vuejs Sandbox!</h1>
                <hr>

                <div class="contacts">

                    <h2>Your Contacts</h2>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Row</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for contact in contacts %}
                                <tr>
                                    <td>{{ contact.getId() }}</td>
                                    <td>{{ contact.getFirstName() }}</td>
                                    <td>{{ contact.getLastName() }}</td>
                                    <td>{{ contact.getEmail() }}</td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
